{% set hx = app.request.get('hx') %}
{% extends hx == null ? 'base.html.twig' : 'htmx.html.twig' %}

{% block page_heading %}{{ 'title.account.profile'|trans }}{% endblock %}

{% block page_content %}
{% block account_profile %}

<form hx-post="{{ path('account') }}?hx=1" hx-target="#page-content">
<div class="card">
    <div class="card-header"><h4>{{ 'label.account'|trans }}</h4></div>
    <div class="card-body">
            <div class="form-group">
                <label for="name" class="form-label">{{ 'label.name'|trans }}</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="{{ 'label.name.hint'|trans }}" value="{{ context.currentUser.name }}">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">{{ 'label.email'|trans }}</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="{{ 'label.email.hint'|trans }}" value="{{ context.currentUser.email }}">
                {% if errors.email is defined %}
                <div class="alert alert-danger color-danger mt-1">{{ errors.email.text|trans }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password" class="form-label">{{ 'label.password'|trans }}</label>
                <input type="password" name="password" id="password" class="form-control">
                {% if errors.password is defined %}
                <div class="alert alert-danger color-danger mt-1">{{ errors.password.text|trans }}</div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password-repeat" class="form-label">{{ 'label.password-repeat'|trans }}</label>
                <input type="password" name="password-repeat" id="password-repeat" class="form-control">
            </div>

            <div class="form-group">
                <label for="theme" class="form-label">{{ 'label.theme'|trans }}</label>
                <select name="theme" id="theme" class="form-select">
                    <option value="light" {% if context.currentUser.theme == 'light' %}selected{% endif %}>{{ 'label.theme.light'|trans }}</option>
                    <option value="dark" {% if context.currentUser.theme == 'dark' %}selected{% endif %}>{{ 'label.theme.dark'|trans }}</option>
                </select>
            </div>

            </div>

        <div class="card-header"><h4>{{ 'label.code-editor-config'|trans }}</h4></div>
            <div class="card-body">
            <div class="form-group">
                <label for="keybinding" class="form-label">{{ 'label.keybinding'|trans }}</label>
                {% set keybinding = context.currentUser.codeEditorConfig.keybinding %}
                <select name="keybinding" id="keybinding" class="form-select">
                    <option value="vim" {% if keybinding == 'vim' %}selected{% endif %}>vim</option>
                    <option value="vscode" {% if keybinding == 'vscode' %}selected{% endif %}>VS Code</option>
                </select>
            </div>
            <div class="form-group">
                todo more custom settings
            </div>

            </div>

            <div class="card-header"><h4>{{ 'label.listing-settings'|trans }}</h4></div>
            <div class="card-body">

            <div class="form-group">
                <label for="language" class="form-label">{{ 'label.language'|trans }}</label>
                <select name="language" id="language" class="form-select">
                    <option value="auto" {% if context.currentUser.language == 'auto' %}selected{% endif %}>{{ 'label.language.auto'|trans }}</option>"
                    <option value="en" {% if context.currentUser.language == 'en' %}selected{% endif %}>{{ 'label.language.en'|trans }}</option>
                    <option value="de" {% if context.currentUser.language == 'de' %}selected{% endif %}>{{ 'label.language.de'|trans }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="rowLimit" class="form-label">{{ 'label.row-limit'|trans }}</label>
                <select name="rowLimit" id="rowLimit" class="form-select">
                    <option value="10" {% if context.currentUser.rowLimit == 10 %}selected{% endif %}>10</option>
                    <option value="25" {% if context.currentUser.rowLimit == 25 %}selected{% endif %}>25</option>
                    <option value="50" {% if context.currentUser.rowLimit == 50 %}selected{% endif %}>50</option>
                    <option value="100" {% if context.currentUser.rowLimit == 100 %}selected{% endif %}>100</option>
                    <option value="250" {% if context.currentUser.rowLimit == 250 %}selected{% endif %}>250</option>
                    <option value="500" {% if context.currentUser.rowLimit == 500 %}selected{% endif %}>500</option>
                    <option value="1000" {% if context.currentUser.rowLimit == 1000 %}selected{% endif %}>1000</option>
                </select>
            </div>

            <div class="form-group">
                <input type="hidden" name="id" value="{{ context.currentUser.id }}">
                <button type="submit" class="btn btn-primary">{{ 'label.save'|trans }}</button>
            </div>

    </div>
</div>
</form>
{% endblock %}
{% endblock %}
