{% block data_table %}
{% set editController = editController ?? null %}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% if page.title is defined %}{{ page.title }}{% endif %}</h5>
        </div>
        <div class="card-body">
            <div 
                data-table="true" 
                data-table-entity="{{ page.entityName }}" 
                data-table-page="{{ page.page }}"
                data-table-limit="{{ context.currentUser.rowLimit }}"
                data-table-edit-controller="{{ editController }}"
                class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"
            >

                <div class="dataTable-container">
                    <table class="table table-striped dataTable-table w-auto">
                        {% include 'partials/data-table-header.html.twig' with { 'columns': tableColumns } %}
                        <tbody></tbody>
                    </table>
                </div>

                <div class="dataTable-bottom">
                    <div class="dataTable-info"></div>
                    <nav class="dataTable-pagination"></nav>
                </div>
            </div>
        </div>

</section>

{% endblock %}
