{% block data_table_header %}
<thead>
    <tr class="dataTable-searchColumns">
    {% for column in columns %}
        <td>
            {% set searchable = column.searchable is defined ? column.searchable : true %}
            {% if searchable == true %}
            <input 
            type="text" 
            name="search-column-{{ column.name }}" 
            placeholder="{{ 'label.colSearch'|trans }}"
            data-col-name="{{ column.name }}"
            >
            {% endif %}
        </td>

    {% endfor %}
    </tr>
    <tr>
    {% for column in columns %}
        <th 
            data-col-name="{{ column.name }}"
            data-col-type="{{ column.type ?? '' }}"
            data-col-format="{{ column.format ?? '' }}"
            {% if column.width is defined %}style="width: {{ column.width }};"{% endif %}
            {% if column.type is defined %}data-col-type="{{ column.type }}"{% endif %}
            {% if column.format is defined %}data-col-format="{{ column.format }}"{% endif %}
            {% if column.dataclass is defined %}data-col-dataclass="{{ column.dataclass }}"{% endif %}
        >{{ column.label }}</th>
    {% endfor %}
    </tr>
</thead>
{% endblock %}
