{% set randomImage = random_background_image() %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
     <head>
        {% include('partials/metadata.html.twig') %}

        <title>{% block title %}{{ 'login.welcome'|trans }}{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block scripts_head %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body style="background-image: url('{{ randomImage.imageUrl }}'); background-size: cover;">
        <div id="auth">
        <div class="row h-100">
            <div class="col-lg-5 col-12 auth-left-wrapper">
                <div id="auth-left">
                    <div class="auth-logo">
                        <a href="{{ path("index") }}"><img src="{{ asset('images/logo/logo.png') }}" alt="Logo"></a>
                    </div>
                        <h1 class="auth-title">{{ 'login.title'|trans }}</h1>
                        <p class="auth-subtitle mb-5">{{ 'login.subtitle'|trans }}</p>

                    {% if error %}
                        <div class="alert alert-warning">
                            <i class="bi bi-exclamation-triangle"></i>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}


                    <form action="{{ path('app_login') }}" method="POST">
                        <div class="form-group position-relative has-icon-left mb-4">
                                <input id="username" name="_username" value="{{ lastUsername }}" type="text" class="form-control form-control-xl" placeholder="{{ 'login.username'|trans }}">
                            <div class="form-control-icon">
                                <i class="bi bi-person"></i>
                            </div>
                        </div>
                        <div class="form-group position-relative has-icon-left mb-4">
                                <input id="password" name="_password" type="password" class="form-control form-control-xl" placeholder="{{ 'login.password'|trans }}">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
 
                        {# If you want to control the URL the user is redirected to on success
                        <input type="hidden" name="_target_path" value="/"> #} 
                            <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">{{ 'login.button'|trans }}</button>
                    </form>
                    

                </div>
                    
                {% include 'partials/footer.html.twig' %}

            </div>
            <div class="col-lg-7 d-none d-lg-block">
                    <div id="auth-right" >
                        <div class="credits">{{ randomImage.imageCredits|raw }}</div>
                    </div>
            </div>
        </div>

    </div>

    {% block scripts %}{% endblock %}

    </body>
</html>
