{% set hx = app.request.get('hx') %}
{% extends hx == null ? 'base.html.twig' : 'htmx.html.twig' %}

{% set assetGroup = page.parameters.get('assetGroup') %}
{% set availableConditions = page.parameters.get('availableConditions') %}
{% set availableServiceChecks = page.parameters.get('availableServiceChecks') %}
{% set assetGroupServiceCheckConditions = page.parameters.get('assetGroupServiceCheckConditions') %}

{% block page_title %}{{ 'title.asset-group.edit'|trans }}{% endblock %}

{% block page_heading %}{{ 'title.asset-group.edit'|trans }}{% endblock %}

{% block page_content %}
{% block edit_service_check %}
<div class="card">
    <div class="card-body">
    
        <form hx-post="{{ path('edit_asset_group', {'id': assetGroup.id}) }}?hx=1" hx-target="#page-content">

            <div class="form-group">
                <label for="name" class="form-label">{{ 'label.name'|trans }}</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="{{ 'label.asset-group.name.hint'|trans }}" value="{{ assetGroup.name }}">
                {% if errors.name is defined %}
                <div class="alert alert-danger color-danger mt-1">{{ errors.name.text|trans }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="service-checks" class="form-label">{{ 'label.serviceChecks'|trans }}</label>

                <select data-choices="true" multiple name="service-checks[]">
                    {% for serviceCheck in availableServiceChecks %}
                    {% set exists = assetGroup.serviceChecks|existsInCollection('getId', serviceCheck.id) %}
                    <option value="{{ serviceCheck.id }}" {% if exists == true %}selected{% endif %}>{{ serviceCheck.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="assets" class="form-label">{{ 'label.service-checks-conditions'|trans }}</label>
                <div class="accordion" id="accordion-service-checks">
                    {% for serviceCheck in assetGroup.serviceChecks %}
                    <div class="accordion-item"> 
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-service-check-{{ serviceCheck.id }}" aria-expanded="false" aria-controls="collapse-service-check-{{ serviceCheck.id }}">
                                {{ serviceCheck.name }}
                            </button>
                        </h2>
                        <div id="collapse-service-check-{{ serviceCheck.id }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordion-service-checks">
                        <div class="accordion-body">
                                <div class="hint">todo: overwrite checkIntervalSeconds, retryIntervalSeconds, maxRetries, notificationsEnabled and enabled from ServiceCheck Entity</div><hr>
                                <div class="hint">todo: read possible ODATA keys from serviceCheck and fill dropdown</div>
 
                                {% set conditionIndex = 0 %}

                                {% if assetGroupServiceCheckConditions.get(serviceCheck.id) is not null %}
                                {% set result = assetGroupServiceCheckConditions.get(serviceCheck.id).getConditionCollection %}

                                {% for conditionId, condition in result.conditions %}
                                <div class="card nested">
                                    <div class="card-content">
                                        <div class="card-body">
                                                {% set conditionIndex = conditionIndex + 1 %}
                                                {% include 'condition-builder/index.html.twig' with {
                                                    'availableConditions': availableConditions,
                                                    'availableServiceChecks': availableServiceChecks,
                                                    'serviceCheck': serviceCheck,
                                                    'selectedCondition': condition,
                                                    'conditionIndex': conditionIndex,
                                                } %}
                                        </div>
                                        <div class="btn-group align-itme-scenter mx-2 px-1">
                                            <button type="submit" class="btn btn-link p-2 m-1 text-decoration-none">
                                                <i class="bi bi-floppy-fill"></i>
                                            </button>
                                            <button 
                                                type="button" 
                                                hx-delete="{{ path('delete_asset_group_service_check_condition', {'assetGroupId': assetGroup.id, 'serviceCheckId': serviceCheck.id, 'conditionId': conditionId }) }}?hx=1"
                                                hx-confirm="{{ 'label.delete.confirm'|trans }}"
                                                class="btn btn-link p-2 m-1 text-decoration-none">
                                                <i class="bi bi-x-lg"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
    
                                <div class="card nested">
                                    <div class="card-content">
                                        <div class="card-body">
                                            {% include 'condition-builder/index.html.twig' with {
                                                'availableConditions': availableConditions,
                                                'availableServiceChecks': availableServiceChecks,
                                                'serviceCheck': serviceCheck,
                                                'conditionIndex': conditionIndex+1,
                                            } %}
                                        </div>
                                    </div>
                                </div>


                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <hr>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ 'label.save'|trans }}</button>
                <button hx-get="{{ path('listing', {'entity': 'asset-group'}) }}?hx=1" hx-target="#page-content" type="button" class="btn btn-secondary">{{ 'label.back'|trans }}</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
{% endblock %}
