{% set hx = app.request.get('hx') %}
{% extends hx == null ? 'base.html.twig' : 'htmx.html.twig' %}

{% set asset = page.parameters.get('asset') %}

{% block page_title %}{{ 'title.asset.edit'|trans }}{% endblock %}

{% block page_heading %}{{ 'title.asset.edit'|trans }}{% endblock %}

{% block page_content %}
{% block edit_asset %}
<div class="card">
    <div class="card-body">
    
        <form hx-post="{{ path('edit_asset', {'id': asset.id }) }}?hx=1" hx-target="#page-content">

            <div class="form-group">
                <div hx-target="this" hx-swap="outerHTML">
                    <label for="name" class="form-label">{{ 'label.name'|trans }}</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="{{ 'label.asset.name.hint'|trans }}" value="{{ asset.name }}">
                </div>
            </div>

            <div class="form-group">
                <label for="hostname" class="form-label">{{ 'label.hostname'|trans }}</label>
                <input type="text" name="hostname" id="hostname" class="form-control" placeholder="{{ 'label.asset.hostname.hint'|trans }}" value="{{ asset.hostname }}">
                {% if errors.hostname is defined %}
                <div class="alert alert-danger color-danger mt-1">{{ errors.hostname.text|trans }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="ipv4-address" class="form-label">{{ 'label.ipv4-address'|trans }}</label>
                <input type="text" name="ipv4-address" id="ipv4-address" class="form-control" placeholder="{{ 'label.asset.ipv4-address.hint'|trans }}" value="{{ asset.ipv4Address }}">
                {% if errors.ipv4_address is defined %}
                <div class="alert alert-danger color-danger mt-1">{{ errors.ipv4_address.text|trans }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                <label for="ipv6-address" class="form-label">{{ 'label.ipv6-address'|trans }}</label>
                <input type="text" name="ipv6-address" id="ipv6-address" class="form-control" placeholder="{{ 'label.asset.ipv6-address.hint'|trans }}" value="{{ asset.ipv6Address }}">
                {% if errors.ipv6_address is defined %}
                <div class="alert alert-danger color-danger mt-1">{{ errors.ipv6_address.text|trans }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="asset-groups" class="form-label">{{ 'label.assetGroups'|trans }}</label>
                <div>
                {% for assetGroup in asset.assetGroups %}
                    <span class="badge bg-secondary">{{ assetGroup.name }}</span>
                {% endfor %}
                </div>
                <div>TODO: ASSET GROUP PICKER (multiple allowed)</div>
            </div>

            <hr>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ 'label.save'|trans }}</button>
                <button hx-get="{{ path('listing', {'entity': 'asset'}) }}?hx=1" hx-target="#page-content" type="button" class="btn btn-secondary">{{ 'label.back'|trans }}</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
{% endblock %}
