{% set hx = app.request.get('hx') %}
{% extends hx == null ? 'base.html.twig' : 'htmx.html.twig' %}

{% set assetGroup = page.parameters.get('assetGroup') %}
{% set availableConditions = page.parameters.get('availableConditions') %}

{% block page_title %}{{ 'title.asset-group.edit'|trans }}{% endblock %}

{% block page_heading %}{{ 'title.asset-group.edit'|trans }}{% endblock %}

{% block page_content %}
{% block edit_service_check %}
<div class="card">
    <div class="card-body">
    
        <form hx-post="{{ path('edit_asset_group', {'id': assetGroup.id}) }}?hx=1" hx-target="#page-content">

            <div class="form-group">
                <label for="name" class="form-label">{{ 'label.name'|trans }}</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="{{ 'label.asset-group.name.hint'|trans }}" value="{{ assetGroup.name }}">
                {% if errors.name is defined %}
                <div class="alert alert-danger color-danger mt-1">{{ errors.name.text|trans }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="assets" class="form-label">{{ 'label.service-checks'|trans }}</label>
                <div class="accordion" id="accordion-service-checks">
                    {% for serviceCheck in assetGroup.serviceChecks %}
                    <div class="accordion-item"> 
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-service-check-{{ serviceCheck.id }}" aria-expanded="true" aria-controls="collapse-service-check-{{ serviceCheck.id }}">
                                {{ serviceCheck.name }}
                            </button>
                        </h2>
                        <div id="collapse-service-check-{{ serviceCheck.id }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion-service-checks">
                        <div class="accordion-body">
                                todo: overwrite checkIntervalSeconds, retryIntervalSeconds, maxRetries, notificationsEnabled and enabled from ServiceCheck Entity<br><hr>
                                
                                <div>
                                    <select name="condition" hx-get="{{ path('condition_builder_parameters') }}" hx-target="#condition-parameters">
                                        {% for availableCondition in availableConditions %}
                                        <option value="{{ availableCondition.class }}">{{ availableCondition.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div>
                                    <div>todo: select which key this condition should check (ODATA coming from checkScript)</div>
                                    <div id="condition-parameters"></div>
                                </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ 'label.save'|trans }}</button>
                <button hx-get="{{ path('listing', {'entity': 'asset-group'}) }}?hx=1" hx-target="#page-content" type="button" class="btn btn-secondary">{{ 'label.back'|trans }}</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
{% endblock %}
