{% extends 'base.html.twig' %}

{% set asset = page.parameters.get('asset') %}

{% block page_title %}{{ 'title.asset.edit'|trans }}{% endblock %}

{% block page_heading %}{{ 'title.asset.edit'|trans }}{% endblock %}

{% block page_content %}
{% block edit_service_check %}

<div class="card">
    <div class="card-body">
    
        <form data-form="true" data-form-entity="asset" data-form-validator="validateAssetFrom" data-refresh-after-save="false">

            <div class="form-group">
                <label for="name" class="form-label">{{ 'label.name'|trans }}</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="{{ 'label.asset.name.hint'|trans }}" value="{{ asset.name }}">
            </div>

            <div class="form-group">
                <label for="hostname" class="form-label">{{ 'label.hostname'|trans }}</label>
                <input type="text" name="hostname" id="hostname" class="form-control" placeholder="{{ 'label.asset.hostname.hint'|trans }}" value="{{ asset.hostname }}">
            </div>

            <div class="form-group">
                <label for="ipv4-address" class="form-label">{{ 'label.ipv4-address'|trans }}</label>
                <input type="text" name="ipv4-address" id="ipv4-address" class="form-control" placeholder="{{ 'label.asset.ipv4-address.hint'|trans }}" value="{{ asset.ipv4Address }}">
            </div>
            
            <div class="form-group">
                <label for="ipv6-address" class="form-label">{{ 'label.ipv6-address'|trans }}</label>
                <input type="text" name="ipv6-address" id="ipv6-address" class="form-control" placeholder="{{ 'label.asset.ipv4-address.hint'|trans }}" value="{{ asset.ipv6Address }}">
            </div>

            <div class="form-group">
                <label for="asset-groups" class="form-label">{{ 'label.asset-groups'|trans }}</label>
                <div>
                {% for assetGroup in asset.assetGroups %}
                    <span class="badge bg-secondary">{{ assetGroup.name }}</span>
                {% endfor %}
                </div>
                <div>TODO: ASSET GROUP PICKER (multiple allowed)</div>
            </div>

            <hr>

            <div class="form-group">
                <input type="hidden" name="id" value="{{ asset.id }}">
                <button type="submit" class="btn btn-primary">{{ 'label.save'|trans }}</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
{% endblock %}

{% block scripts %}
{{ parent() }}

<script>
function validateAssetFrom(formInputs) {

    if (formInputs['name'].value == '') {
        return('{{ 'alert.asset.name.empty'|trans }}'); 
    }

    return true;
}
</script>

{% endblock %}
