{% set hx = app.request.get('hx') %}
{% extends hx == null ? 'base.html.twig' : 'htmx.html.twig' %}

{% set assetGroup = page.parameters.get('assetGroup') %}

{% block page_title %}{{ 'title.asset-group.edit'|trans }}{% endblock %}

{% block page_heading %}{{ 'title.asset-group.edit'|trans }}{% endblock %}

{% block page_content %}
{% block edit_service_check %}
<div class="card">
    <div class="card-body">
    
        <form hx-post="{{ path('edit_service_check', {'id': assetGroup.id}) }}?hx=1" hx-target="#page-content">

            <div class="form-group">
                <label for="name" class="form-label">{{ 'label.name'|trans }}</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="{{ 'label.asset-group.name.hint'|trans }}" value="{{ assetGroup.name }}">
                {% if errors.name is defined %}
                <div class="alert alert-danger color-danger mt-1">{{ errors.name|trans }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="assets" class="form-label">{{ 'label.assets'|trans }}</label>
                <div>TODO: ASSET PICKER</div>
            </div>
            
            <div class="form-group">
                <label for="assets" class="form-label">{{ 'label.service-checks'|trans }}</label>
                <div>TODO: SERVICE CHECKS PICKER?<br>
                    maybe we just enable addding service checks to asset groups in /service-checks/edit,<br>
                    because they would need to be configurable
                </div>
            </div>

            <hr>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{{ 'label.save'|trans }}</button>
                <button hx-get="{{ path('listing', {'entity': 'asset-group'}) }}?hx=1" hx-target="#page-content" type="button" class="btn btn-secondary">{{ 'label.back'|trans }}</button>
            </div>

        </form>

    </div>
</div>
{% endblock %}
{% endblock %}
