{% set theme = context.currentUser.theme %}
<!DOCTYPE html>
<html lang="{{ app.locale }}" data-bs-theme="{{ theme }}" data-user-id="{{ context.currentUser.id }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include('partials/metadata.html.twig') %}
    
        <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">

        <title>{% block title %}{%block page_title %}{% if page.title is defined %}{{ page.title }} | {% endif %}{%endblock %}Orcano{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block scripts_head %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
 
    </head>
    <body>

        <div id="app">
            <div id="sidebar" class="active">
                {% include "partials/sidebar.html.twig" %}
            </div>
            <div id="main">

                <div id="topbar">
                    {% include 'partials/topbar.html.twig' %}
                </div>

                {% block htmx_messages %}
                {% if messages is not empty %}
                {% for message in messages %}
                <div class="alert alert-{{ message.type }} color-{{ message.type }} mt-1">{{ message.text|trans }}</div>
                {% endfor %}
                {% endif %}
                {% endblock %}

                {% block content_wrapper %}
                    <div id="page-content" class="page-content">{% block page_content %}{% endblock %}</div>
                {% endblock %}

                {% include 'partials/scroll-up.html.twig' %}

                {% include 'partials/footer.html.twig' %}
        
                {% if app.environment == 'dev' %}
                    {% include 'debug.html.twig' %}
                {% endif %}
            </div>


        </div>
 
        {% block scripts %}{% endblock %}

    </body>
</html>
