{% block listing_table_asset %}
{% set result = page.result %}
{% for row in result %}
{% set url = path('edit_asset', {'id': row.id}) %}
{% set hxUrl = url ~ '?hx=1' %}
<tr>
    <td>{{ row.hostname }}</td>
    <td>{{ row.name }}</td>
    <td>{{ row.ipv4Address }}</td>
    <td>{{ row.ipv6Address }}</td>
    <td>{% for assetGroup in row.assetGroups %}<span class="badge bg-info me-1">{{ assetGroup.name }}</span>{% endfor %}</td>
    <td>{{ row.createdAt|date('d.m.Y H:i:s') }}</td>
    <td><a 
        class="btn btn-sm btn-primary"
        hx-get="{{ hxUrl }}"
        hx-target="#page-content"
        hx-push-url="{{ url }}"
        href="{{ url }}">{{ 'label.edit'|trans }}</a></td>
</tr>
{% endfor %}

<tr>
    <td colspan="7">
    <span class="dataTable-pagination">{% include 'listing/pagination.html.twig' with { 'pagination': page.pagination } %}</span> 
    </td>
</tr>

{% endblock %}
