{% set hx = app.request.get('hx') %}
{% extends hx is null ? 'base.html.twig' : 'htmx.html.twig' %}

{% block page_heading_wrapper %}{% endblock %}

{% block page_content %}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% if page.title is defined %}{{ page.title }}{% endif %}</h5>
        </div>
        <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

                <div class="col">
                    <button class="btn btn-primary" hx-get="{{ path('edit_asset') }}?hx=1" hx-target="#page-content">
                        <i class="fas fa-plus"></i>
                        {{ 'label.add'|trans }}
                    </button>
                </div>

                <div class="dataTable-container">
                    <table class="table table-striped dataTable-table w-auto">
                        <thead>
                            <th>{{ 'label.hostname'|trans }}</th>
                            <th>{{ 'label.name'|trans }}</th>
                            <th>{{ 'label.ipv4Address'|trans }}</th>
                            <th>{{ 'label.ipv6Address'|trans }}</th>
                            <th>{{ 'label.assetGroups'|trans }}</th>
                            <th>{{ 'label.createdAt'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </thead>
                        <tbody id="asset-listing-body">
                            {% include 'listing/asset-items.html.twig' %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
