{% set hx = app.request.get('hx') %}
{% extends hx is null ? 'base.html.twig' : 'htmx.html.twig' %}

{% block page_heading_wrapper %}{% endblock %}

{% block page_content %}
<section class="section">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{% if page.title is defined %}{{ page.title }}{% endif %}</h5>
        </div>
        <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

                <div class="dataTable-container">
                    <table class="table table-striped dataTable-table w-auto">
                        <thead>
                            <th>{{ 'label.name'|trans }}</th>
                            <th>{{ 'label.checkIntervalSeconds'|trans }}</th>
                            <th>{{ 'label.retryIntervalSeconds'|trans }}</th>
                            <th>{{ 'label.maxRetries'|trans }}</th>
                            <th>{{ 'label.notificationsEnabled'|trans }}</th>
                            <th>{{ 'label.enabled'|trans }}</th>
                            <th>{{ 'label.createdAt'|trans }}</th>
                            <th>{{ 'label.actions'|trans }}</th>
                        </thead>
                        <tbody id="asset-listing-body">
                            {% include 'listing/service-check-items.html.twig' %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
